* {
    padding: 0;
    margin: 0;
}

nav {
    background: #fff;
}

nav ul li a {
    color: black;
}

main {
    padding: 20px;
}

p {
    line-height: 2rem;
}

span.focus {
    color: #0D47A1;
}

#new-orders-counter {
    background: red;
    color: white;
    padding: 5px 10px;
    border-radius: 20px;
    margin-right: 10px;
}