* {
    margin: 0;
    padding: 0;
}

main {
    padding: 40px 40px 40px 340px;
    max-width: 1600px;
    margin: 0 auto;
    position: relative;
}

@media only screen and (max-width: 992px) {
    main {
        padding-left: 40px;
    }
}

#nav-logo-container {
    background: #014785;
}

#side-logo {
    max-width: 200px;
    display: block;
    padding: 50px 0;
    margin: 0 auto;
}

#top-logo-link {
    float: right;
}

#top-logo {
    float: right;
    height: 2.5rem;
    margin: 25px;
}

#menu-button {
    height: 80px;
    width: 100%;
    background: #014785;
    display: none;
}

.focus {
    color: #014785;
}

@media only screen and (max-width: 992px) {
    #menu-button {
        display: block;
    }
}

#navigation-trigger i {
    font-size: 3rem;
    color: white;
    padding: 18px;
}

p {
    line-height: 2rem;
}

h2, h3, h4, h5, h6 {
    text-transform: uppercase;
    color: #014785;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.5rem;
}

hr {
    margin: 20px 0;
}

[type="radio"]:checked + label:after, [type="radio"].with-gap:checked + label:after {
    background-color: #014785;
}

[type="radio"]:checked + label:after, [type="radio"].with-gap:checked + label:before, [type="radio"].with-gap:checked + label:after {
    border: 2px solid #014785;
}

.account-form-headers {
    font-size: 2rem;
}

.toast.ERROR {
    background: red;
}

.toast.WARNING {
    background: orange;
}

.toast.SUCCESS {
    background: #4BB543;
}

#slide-out li.active {
    background: #aaa;
}

#slide-out li.active a {
    color: white;
}

#new-orders-counter {
    background: #0D47A1;
    color: white;
    padding: 5px 10px;
    border-radius: 20px;
    margin-right: 10px;
}

#new-offers-counter {
    background: #0D47A1;
    color: white;
    padding: 5px 10px;
    border-radius: 20px;
    margin-right: 10px;
}

#new-orders-counter {
    display: none;
}

#new-offers-counter {
    display: none;
}

th.r5 {
    width: 5rem;
}

th.r10 {
    width: 10rem;
}

th.r15 {
    width: 15rem;
}

.administration-header h2 {
    display: inline-block;
}

.administration-header a {
    float: right;
    margin: 20px;
}

svg {
    width: 100%;
    height: auto;
}

.drawing-title {
    text-align: center;
}

td.bold {
    font-weight: bold;
}

.table-controls {
    padding: 20px 0 10px 0;
}

.table-controls button {
    display: block;
    width: 100%;
}

.btn, .btn-large, .btn-floating {
    background-color: #0D47A1 !important;
}

a {
    color: #0089ec;
}

a:hover {
    text-decoration: underline;
}

#slide-out a:hover {
    text-decoration: none;
}

table table td {
    padding: 0px;
}

tr[data-link] {
    cursor: pointer;
}

tr#table-filters {

}

tr#table-filters td {
    padding: 0 !important;
}

tr#table-filters td .table-filter {
    margin-bottom: 0;
    margin-left: 5px;
    border-bottom: none;
}

tr#table-filters td .select-dropdown {
    border-bottom: none;
    margin: 0 0px 0 5px;
}

tr#table-filters td .select-wrapper {
    margin-right: 10px;
}

tr#table-pagination td p {
    float: left;
    font-size: 1.6rem;
    padding-top: 10px;
}

tr#table-pagination td i {
    padding-top: 10px;
    cursor: pointer;
    float: left;
    font-size: 2rem;
}

tr#table-pagination td input {
    display: inline-block;
}

tr#table-pagination td {
    padding: 10px 0 0 0 !important;
}

tr#table-pagination {
    border-bottom: none;
}