* {
    margin: 0;
    padding: 0;
}

main {
    padding: 40px 40px 40px 340px;
    max-width: 1400px;
    margin: 0 auto;
}

@media only screen and (max-width: 992px) {
    main {
        padding-left: 40px;
    }
}

#nav-logo-container {
    background: #014785;
}

#side-logo {
    max-width: 200px;
    display: block;
    padding: 50px 0;
    margin: 0 auto;
}

#top-logo-link {
    float: right;
}

#top-logo {
    float: right;
    height: 3rem;
    margin: 30px;
}

#menu-button {
    height: 100px;
    width: 100%;
    background: #014785;
    display: none;
}

@media only screen and (max-width: 992px) {
    #menu-button {
        display: block;
    }
}

#navigation-trigger i {
    font-size: 3rem;
    color: white;
    padding: 25px;
}

p {
    line-height: 2rem;
}

h2, h3, h4, h5, h6 {
    text-transform: uppercase;
    color: #014785;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2.5rem;
}

h4 {
    font-size: 2rem;
}

h5 {
    font-size: 1.5rem;
}

h6 {
    font-size: 1.2rem;
}

hr {
    margin: 20px 0;
}

[type="radio"]:checked + label:after, [type="radio"].with-gap:checked + label:after {
    background-color: #014785;
}

[type="radio"]:checked + label:after, [type="radio"].with-gap:checked + label:before, [type="radio"].with-gap:checked + label:after {
    border: 2px solid #014785;
}

.account-form-headers {
    font-size: 2rem;
}

.toast.ERROR {
    background: red;
}

.toast.WARNING {
    background: orange;
}

.toast.SUCCESS {
    background: #4BB543;
}

#slide-out li.active {
    background: #aaa;
}

#slide-out li.active a {
    color: white;
}

#slide-out {
    overflow: hidden;
}

#slide-out:hover {
    overflow: visible;
}

#new-orders-counter {
    background: red;
    color: white;
    padding: 5px 10px;
    border-radius: 20px;
    margin-right: 10px;
}

.administration-table tbody tr {
    cursor: pointer;
}

#new-orders-counter {
    display: none;
}